<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>布置作业</title>
  <link href="__BSCSS__\bootstrap.css" rel="stylesheet">
  <link href="__CSS__\blue.css" rel="stylesheet">
  <style>


    .right {
      margin-left: 20px;
    }

    .btn-diylg {
      width: 150px;
      height: 50px;
    }

    .margin-top {
      margin-top: 50px;
    }

    .div_check div span {
      margin-top: 2px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron well">
        <h1>
          布置作业
        </h1>
        <p>填写一下资料，给指定班级布置作业。</p>
        <p>
          <a class="btn btn-primary btn-large" href="#" id="learn">Learn more</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row clearfix right">
    <div class="col-md-6 column">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">作业名称</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input_workname"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">作业答案</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="input_answer"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox" id="checkbox_container">

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 textarea_div " role="form">
      <form class="form-horizontal" role="form">
        <label class="control-label">作业内容</label>
        <div class="col-sm-10 ">
          <textarea id="textarea_workcontent" class="form-control"></textarea>
        </div>
      </form>
    </div>
  </div>

  <div class="row clearfix " id="result_alert">

  </div>
  <div class="row clearfix right margin-top">
    <div class="col-md-12 column " margin="0px">
      <button type="button" class="btn btn-success btn-lg btn-diylg center-block" id="sublimt">发布作业</button>
    </div>
  </div>
</div>


<div class="modal-fade" id="modal-learn-more"></div>
<script type="text/javascript" src="__JS__\jquery-3.1.1.js"></script>
<script type="text/javascript" src="__BSJS__\bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__\icheck.min.js"></script>

<!--加载教师班级-->
<script>
  let storage = window.localStorage;
  window.onload = function () {
    loadcourse(storage.key('userid'));
  };
  function loadcourse(teacherid) {
    $.ajax({
      url: "{:url('Work/querycoursebyteacherid')}",
      type: 'POST',
      dataType: 'json',
      data: {teacherid: localStorage.getItem('userid')},
      async: false,
      success: function (res) {
        var course = eval(res);
        console.log(course);
        for (var i = 0; i < course.length; i++) {
          $("#checkbox_container").append("<div class='row clearfix right '>" +
            "<input type='checkbox' class='icheckbox_flat-blue col-sm-2 course_id' value='" + course[i].courseid + "'>" +
            "<span class='col-sm-10'>" + course[i].classname + "</span></div>");
        }

      }
    });
  }
</script>


<!--发布作业-->
<script>
  var status = '';
  var message = '';
  var UserID = localStorage.getItem('userid');
//  function getFileName_2(obj) {
//    let result = [];
//    let fileName = "";
//    if (typeof(fileName) != "undefined") {
//      fileName = $(obj).val().split("\\").pop();
//      let filename = fileName.substring(0, fileName.lastIndexOf("."));
//      let fileExtension= fileName.substring(fileName.lastIndexOf('.'));
//      result.push({
//        "filename":filename,
//        "fileExtension":fileExtension,
//      })
//    }
//    return result;
//  }
  
  function getseclectedcourse() {
    var obj = $('.course_id');
    var id = new Array();
    for (var i = 0; i < obj.length; i++) {
      if (obj[i].checked) {
        id.push(obj[i].value);
        console.log(obj[i].value);
      }
    }
    return id;
  }
  $("#sublimt").click(function () {
    addwork_TableWork_worktostudent($('#input_workname')[0].value, $('#textarea_workcontent').val(),
      $("#input_answer")[0].files[0], $.getFileName_2("#input_answer"));
  });
  function addwork_TableWork_worktostudent(workname, content, answer, answername) {
    var courseid = getseclectedcourse()
    var formdata = new FormData();
    formdata.append('workname', workname);
    formdata.append('content', content);
    formdata.append('answer', answer);
    formdata.append('answername', answername[0]['filename']);
    formdata.append('answerextension', answername[0]['fileExtension']);
    formdata.append('courseid', courseid[0]);
    formdata.append('teacherid', UserID);
//        console.log("start ajax");
    $.ajax({
      url: "{:url('Work/addwork_TableWork_worktostudent')}",
      type: "POST",
      data: formdata,
      async: false,
      cache: false,
      contentType: false,
      processData: false,
      dataType: 'json',
      success: function (res) {
//                alert("succcess running");
        var result = eval(res);
        status = result.status;
        message = result.message;
        console.log(message + "||" + status);
        if (result.status == "1") {
          $("#result_alert").append("<div class='col-md-12 column' role='form'>" +
            "<div class='alert alert-dismissable alert-success right'>" +
            "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>" +
            "<h4>布置作业成功 </h4> " +
            "<strong>Success！</strong>" +
            "已成功布置作业，并添加work表与worktostudent。" +
            "</div>" +
            "</div>");
        }
      },
      error: function (XMLResponse) {
        alert(XMLResponse.responseText);
      }
    });
  }


</script>
</body>
</html>